* {
	margin: 0;
	padding: 0;

}

ul,
ol {
	list-style-type: none;
}

/* 在线编译 CSS样式 */
h3 {
	width: 85px;
	font-family: 仿宋;
	margin-left: 1%;
	margin-top: 20px;
	border-bottom: ridge 4px #6fddd6;
	border-right: ridge 4px #6fddd6; 
	text-align: center;
}
.study_h3{
	margin-left: 6%;
}
#hea{
	width: 98%;
	height: auto;
	position: fixed;
	background-color: white;
	margin-left: 1%;
	border-top-left-radius: 60px;
	border-bottom-right-radius: 60px;
}

.bod{
	width: 100%;
	height: auto;
	float: left;
/*	background-color: azure;*/
	margin-top: 80px;
}
.bod .zxbm {
	width: 90%;
	height: 30px;
	margin: 10px auto 0 auto;
	border-radius: 30px;
	background-color: #5689;
}

.bod .zxbm ul .jsfiddle a:hover {
	border-radius: 30px 20px 20px 30px;
}

.bod .zxbm ul .codepen a:hover {
	border-radius: 20px 30px 30px 20px;
}

.bod .zxbm li {
	display: block;
	float: left;
	width: 16.665%;
	height: 30px;
	text-align: center;
}

.bod .zxbm ul li a {
	display: block;
	width: 100%;
	height: 30px;
	line-height: 30px;
	text-decoration-line: none;
	color: white;
	border-radius: 20px;
}

.bod .zxbm li a:hover {
	background-color: #37ff9b;
	color: #000000;
}

/* 学习网址 */
.bod .study {
	width: 90%;
	height: auto;
	float: left;
	margin-left: 5%;
	margin-top: 15px;
	/* border: solid 1px; */
}

.bod .study li {
	display: block;
	/* width: 150px; */
	width: auto;
	height: 25px;
	/* background-color: aqua; */
	float: left;
	padding: 5px;
	/* text-align: center; */
	text-indent: 10px;
}

.bod .study li a {
	text-decoration: none;
	display: block;
	/* width: auto; */
	height: 25px;
	line-height: 25px;
	background-color: rgb(218, 120, 185);
	border-radius: 10px;
	color: #ffffff;
	text-align: center;
	padding-right: 10px;
}

.bod .study li a:hover {
	box-shadow: 0px 3px 1px #888888;
}

/* 时间 */
#time {
	width: 180px;
	margin-left: 80%;
/*	margin-top: 5px;*/
	/* margin-right: 20px; */
	position: absolute;
	color: #000000;
	line-height: 45px;
	/* border: solid 1px; */
	/* opacity: 0.4; */
}

h4 {
	color: blueviolet;
	padding-left: 5%;
	font-family: "Papyrus";
}

hr {
	border: 2px outset #75bbf5;
	
	width: auto;
	size: 1;
/*	margin-left: 1%;*/
}
